<form method="post" action="{{ path('admin_theme_delete', {'id': theme.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce thème ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ theme.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
