<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header>
            <a href="{{ path('front_home') }}">
                <img src="{{ asset('images/knowledge.png') }}" alt="Logo" style="height: 50px;">
            </a>
            <!-- Ici tu peux ajouter ton menu de navigation si besoin -->
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
